<h1>Iniciar Session</h1>

<form action="/session/login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password">
    </div>
    <br>

    <input type="submit" class="btn btn-primary" value="Iniciar Sesion">
</form>